pip==25.2
bump2version==1.0.1
wheel==0.45.1
watchdog==6.0.0
mypy==1.17.1
flake8==7.3.0
tox==4.28.4
coverage==7.10.6
Sphinx==8.2.3
twine==6.1.0
orjson==3.11.3
pytest-asyncio==1.1.0
pytest==8.4.1
pytest-runner==6.0.1
