pip==25.1.1
bump2version==1.0.1
wheel==0.45.1
watchdog==6.0.0
mypy==1.15.0
flake8==7.2.0
tox==4.28.0
coverage==7.8.2
Sphinx==8.2.3
twine==6.1.0
orjson==3.10.18
pytest-asyncio==0.26.0
pytest==8.3.5
pytest-runner==6.0.1
