pip==24.3.1
bump2version==1.0.1
wheel==0.38.1
watchdog==6.0.0
mypy==0.982
flake8==3.7.8
tox==4.23.2
coverage==4.5.4
Sphinx==1.8.5
twine==6.0.1
orjson==3.9.15
pytest-asyncio==0.19.0
pytest==8.3.4
pytest-runner==6.0.0
